<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    	<h1>Here is my family</h1>
    	<h2>Select the member you want to see</h2>
    	<nav>
            <ul>
                <li>
                    <a href="/junghwan">Junghwan</a>
                </li>
                <li>
                    <a href="/sunok">Sunok</a>
                </li>
                <li>
                    <a href="/younggyu">Younggyu</a>
                </li>
                <li>
                    <a href="/heena">Heena</a>
                </li>
                <li>
                    <a href="/">Main Page</a>
                </li>
            </ul>
        </nav>
    </header>